body {
    background-color: rgb(222, 194, 241);
    text-align: center;
    height: fit-content;
}

.container, .summary {
    padding-top: 5vh;
    padding-bottom: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    color:#3f51b5;
}

.summary {
    border: 0.2em solid #3f51b5;
    border-radius: 10%;
	margin: 0 20vw;
}

.details, .news {
    border: 0.2em solid #3f51b5;
    border-radius: 20%;
	padding: 2em;
}

img {
    mix-blend-mode: multiply;
    height: 20vh;
    width: 15vw;
}

#price, #finance, #profile, #stockNews {
    padding-top: 2vh;
    font-size: 1.3em;
}

hr {
    margin-top: 5vh;
    background-color: #3f51b5;
    height: 5px;
}
