    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <div class="body">
        <section class="footer-section-content">
            <section class="logo-links-section">
                <!-- section 1 here -->
                <img src="https://developers.giphy.com/branch/master/icons/icon-48x48.png?v=7f0a8f0ba9ed9e42ddba636b7ef9690c" alt="logo">
                <h3>Footer template</h3>
                <p>About Us</p>
                <p>Selected Work</p>
            </section>

            <section class="signup-section">
                 <!-- section 3 and signup link here -->
                <h3>SUBSCRIBE</h3>
                <p>Get Monthly updates and free resources</p>
                <form>
                  <input type="email" id="email" name="email" placeholder="Enter E-mail">
                  <input type="submit" id="subscribe" value="Subscribe">
                </form>
            </section>
            
            <section class="connect-section">
                <h3>Connect with Us</h3>
                <div class="social-media-links">
                  <!-- social icons here -->
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </div>
            </section>
        </section>

        <hr class="rule">
        <p class="copyright">&copy; Copyright 2020 Stockify - All Rights Reserved</p>
    </div>
